.clicker-container {
    text-align: center;
}

.clicker-card {
    border: solid gray 1px;
    width: 30%;
    vertical-align: top;
}

.clicker-card-header {
    background-color: lightgray;
    padding: 10px;
    font-size: 16px;
}
